<div class="card" data-shop="">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_remove">
            <%- include remove.ejs %> Remove</button>
    </div>
</div>
<div class="card" data-shop="">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_remove">
            <%- include remove.ejs %> Remove</button>
    </div>
</div>
<div class="card" data-shop="">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_remove">
            <%- include remove.ejs %> Remove</button>
    </div>
</div>
<div class="card" data-shop="">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_remove">
            <%- include remove.ejs %> Remove</button>
    </div>
</div>