    </main>
    <%- include menu.ejs %>
    <div class="tmp hidden"></div>
    <img class="loader hidden" src="/svg-loaders/tail-spin.svg" width="50" alt="">
</body>

<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
<script defer async src="/js/main.min.js"></script>
</html>