<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        <%- include('../public/css/main.min.css') %>
    </style>
</head>
<body>
    <%- include nav.ejs %>
    <main class="main">