<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3392ff" />

    <link rel="manifest" href="/manifest.json">

    <style>
        <%- include('../public/css/main.min.css') %>
    </style>
</head>
<body>
    <%- include nav.ejs %>
    <main class="main">
        <% if (messages.error) { %><div class="message"><%= messages.error %></div><%}%>