<aside class="js-side-nav side-nav">
    <nav class="js-side-nav-container side-nav__container">
        <button class="js-menu-hide side-nav__hide material-icons">
            <%- include back.ejs%>
        </button>
        <header class="side-nav__header">
            User name
        </header>
        <ul class="side-nav__content">
            <li><a class="fetch" href="./">Home</a></li>
            <li><a class="fetch" href="./favorit">Favorites</a></li>
            <li><a class="fetch" href="./login">LogIn</a></li>
            <li><a class="fetch" href="./signup">SignUp</a></li>
        </ul>
    </nav>
</aside>