<nav>
    <div class="nav nav__left">
        <a href="" class="nav__logo">
            <%- include logo.ejs %>
            <span class="nav__title">Shopers</span>
        </a>
        <a href="" class="nav__tab nav__tab_current">Home</a>
        <a href="" class="nav__tab">Favorites</a>
    </div>
    <div class="nav nav__right">
        <a href="" class="nav__tab">LogIn</a>
        <a href="" class="nav__tab">SignUp</a>
    </div>
</nav>