<nav>
    <div class="nav nav__left">
        <a href="/" class="nav__logo fetch">
            <%- include logo.ejs %>
            <span class="nav__title">Shopers</span>
        </a>
        <a href="/" class="nav__tab fetch <% if (page === 'index') {%>nav__tab_current<% } %>">Nearby Shops</a>
        <% if (user && user.username) { %>
        <a href="/favorit" class="nav__tab fetch <% if (page === 'favorit') {%>nav__tab_current
            <% } %>">My preferred shops</a>
        <% } %>
    </div>
    <div class="nav nav__right">
        <% if (!user.username) { %>
        <a href="/login" class="nav__tab fetch <% if (page === 'login') {%>nav__tab_current
            <% } %>">LogIn</a>
        <a href="/signup" class="nav__tab fetch <% if (page === 'signup') {%>nav__tab_current
            <% } %>">SignUp</a>
        <% } else { %>
        <a href="/api/logout" class="nav__tab">LogOut</a>
        <% } %>
        <%- include menu_icon.ejs %>
    </div>
</nav>