:root{
    --primary-color:#FFF;
    --secondary-color:#3392ff;
    --background-color:#f9fafe;
    --border-color:#e3eaf0;
    --filter-color:#c7dffb;
    --tag-color:#97aec7;
    --font-color:#7e8a95;
    --title-color:#1e2638;
    --valid-color:#32bf73;
    --warning-color:#fe9b3b;
    --error-color:#f14c5d;
    --placeholder-color:#bdcbd9;
    --azure-color:#0077FF;
    --dark-color:#19193E;
    --grey-color:#637280;
    --button-color:#95acc6;
    
    --titles-size:1.3em;
    --sub-titles-size:1.1em;
    --normal-size:1em;
    --small-size:.9em;
    --border-radius:3px;

    --font:'Product Sans', Arial, Helvetica, sans-serif;

    --box-shadow:0 1px 1px -1px rgba(0, 0, 0, .3);
    --box-shadow2:0 1px 2px -1px rgba(0, 0, 0, .3);
    --transition:.2s;
}

*{
    box-sizing:border-box;
    outline: none;
}

html, body{
    margin:0;
    padding:0;
    font-family:var(--font);
    outline:none;
    background:var(--background-color);
    min-width:430px;
}

a {
    background-color: transparent;
    text-decoration:none;
}

img{max-width:100%;}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    line-height:56px;
    background:var(--primary-color);
    box-shadow:var(--box-shadow);
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__title{
    font-weight: 600;
    font-size: var(--small-size);
    text-transform: uppercase;
    padding-right: 32px;
    display: block;
    color: var(--secondary-color);
}

.svg__logo{
    width: 20px;
    fill: var(--secondary-color);
    margin: auto 8px auto 16px;
}

.svg__menu{
    display:none;
    width:18px;
    fill:var(--title-color);
    margin:auto 16px;
    cursor: pointer;
}

.svg__menu:hover{
    fill:var(--secondary-color);
    transition:var(--transition);
}

.svg__menu_white{
    width:10px;
    fill:var(--primary-color);
    margin:auto 16px;
    cursor: pointer;
}

.nav__tab{
    padding:0 16px;
    display:block;
    color:var(--font-color);
}

.nav__tab:hover{
    color:var(--secondary-color);
    background:var(--background-color);
    transition:var(--transition);
}

.nav__tab_current{
    border-bottom:solid 1px var(--secondary-color);
    color:var(--secondary-color);
}

.main{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    max-width:1000px;
    width:100%;
    margin:16px auto;
}

.filter{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin-bottom:26px;
}

.filter__header{
    font-size:var(--sub-titles-size);
    font-weight:400;
    color:var(--title-color);
    text-transform:uppercase;
}

.filter__buttons{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.filter__label{
    font-size:.7em;
    font-weight:600;
    color:var(--filter-color);
    text-transform:uppercase;
    margin-right:16px;
}

.filter__button{
    border:0;
    border-radius:var(--border-radius);
    background:0 0;
    font-size:.7em;
    font-weight:600;
    color:var(--tag-color);
    padding:6px 8px;
    cursor:pointer;
    margin-right:8px;
}

.filter__button:last-child{margin-right:0px;}

.filter__button:hover, .filter__button_active {
    background:var(--filter-color);
    color:var(--secondary-color);
    transition:var(--transition);
}

.card__container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:16px
}

.svg__card{
    width:16px;
    fill:var(--font-color);
    margin-right: 8px;
}

.svg__card_is-liked{fill:var(--secondary-color);}
.svg__card_is-disliked{fill:var(--error-color);}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--primary-color);
    box-shadow: var(--box-shadow2);
    border-radius: 0 0 3px 3px;
}

.card__title{
    line-height: 45px;
    padding: 0 16px;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--title-color);
}

.card__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__button{
    border: none;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-size);
    font-weight: 600;
    color: var(--font-color);
    border-right: solid .5px var(--border-color);
    padding: 14.5px 0;
    cursor: pointer;
}

.card__button:last-child{border-right: none;}

.card__button:hover{
    background:var(--background-color);
    color:var(--secondary-color);
    transition:var(--transition);
}

.card__button_dislike:hover{
    color:var(--error-color);
    transition:var(--transition);
}

.card__button_is-liked{color:var(--secondary-color);}
.card__button_is-disliked{color:var(--error-color);}

@media screen and (max-width: 1000px){
    .main{padding:0 16px;}
    .card__container{grid-template-columns:repeat(3, 1fr);}
}

@media screen and (max-width: 740px){
    .card__container{grid-template-columns:repeat(2, 1fr);}
    .svg__menu{display:block;}
    .nav__tab{display:none;}
}

@media screen and (max-width: 490px){
    .card__container{grid-template-columns:repeat(1, 1fr);}
}

.side-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.side-nav--visible{pointer-events: auto;}

.side-nav::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.side-nav__container{
    position: relative;
    width: 90%;
    max-width: 400px;
    background: #FFF;
    height: 100%;
    box-shadow: 2px 0 12px rgba(0,0,0,0.4);
    transform: translateX(-102%);
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    will-change: transform;
}

.side-nav--animatable .side-nav__container{
    transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container{
    transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before{opacity: 1;}

.side-nav--visible .side-nav__container{transform: none;}

.side-nav__hide{
    position: absolute;
    left: 16px;
    top: 16px;
    background: none;
    border: none;
    color: #FFF;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}

.side-nav__header{
    width:100%;
    height: 200px;
    background: var(--secondary-color);
    color: #FFF;
    display: flex;
    padding: 16px;
    align-items: flex-end;
    font-size: 24px;
}

.side-nav__content{
    width:100%;
    padding-top: 32px;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.side-nav__content li{
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}

.side-nav__content li:hover{
    background: var(--filter-color);
    transition:var(--transition);
}

.side-nav__content li a{
    display:block;
    text-transform: uppercase;
    color:var(--font-color);
}

.side-nav__content li a:hover{
    color:var(--secondary-color);
    transition:var(--transition);
}